html {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(120deg, #abfaf2 0, #8feae6 25%, #6cd8d8 50%, #41c6cb 75%, #00b6c1 100%);
}

label {
  padding-right: 10px;
  font-size: 1rem;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 270px;
  height: 30px;
  overflow: hidden;
  border: 1px inset #666;
  background-color: #d8d8d8;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background: #ff8000;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background-color: #d8d8d8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 20px;
}
